body {
  padding-top: 30px;
  background-color: #f9fafa;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-family: Georgia;
  font-size: 3em;
  color: #555;
  text-shadow: 0 1px 1px #fff;
}